<div class="container">
  <div class="row">
      <div class="col pt-5" *ngFor="let item of collections ">

          <div class="card" >
              <img src="../../assets/images/{{item.image}}" class="card-img-top" >
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.string}}</p>
                <a href="" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>


      </div>
   </div>
</div>